body {
    font-family: 'Arial', sans-serif;
    background-image: url('background.png'); /* Path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image in the page */
    background-repeat: no-repeat; /* Do not repeat the image */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form h2 {
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group label {
    font-size: 0.9em;
    color: #666;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5C6BC0;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #3F51B5;
}

.loader {
    display: none; /* Hidden by default */
    position: fixed; /* Positioned relative to the viewport */
    z-index: 1000; /* Sit on top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add animation styles for your loader here */

